[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
pandas = "*"
scipy = "*"
langchain-openai = "*"
langchain-anthropic = "*"
seaborn = "*"
langchain-google-genai = "*"
sentence-transformers = "*"
statsmodels = "*"
flask = "*"
aiofiles = "*"
altair = "*"
umap-learn = "==0.5.6"
scikit-learn = "==1.5.2"
pynndescent = ">=0.5"
plotly = "*"
nbformat = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
