::-moz-selection {
  background: #ddd;
  color: #222;
}

::selection {
  background: #ddd;
  color: #222;
}

#root {
  max-width: 2100px;
  width: 100%;
  margin: 0 auto;
}

#app {
  padding: 0.5rem 1rem;
}

.grad {
  // fill text with gradient
  background: -webkit-linear-gradient(0deg, #9c85c0, #dd8047);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* HEADER */

#header-container {
  position: fixed;
  z-index: 99;
  background: white;
  margin-top: -0.5rem;
  padding-top: 0.5rem;
  padding-right: 1rem;
  width: calc(100% - 1rem);
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.2rem;
  gap: 40px;
  align-items: start;

  #story-header {
    display: flex;
    gap: 20px;
    align-items: center;

    .story-image {
      transition: 0.3s;
      width: auto;
      height: 70px;
      border: 1px solid #444;
    }

    a:hover .story-image {
      opacity: 0.8;
      transform: scale(1.05);
    }

    #story-info {
      span {
        font-size: smaller;
        color: #222;
        display: flex;
        align-items: center;
        gap: 10px;
        font-family: "Shantell Sans";
      }

      #info-button {
        padding: 0.3rem 0.5rem;
        span {
          font-family: var(--mantine-font-family);
        }

        .mantine-Button-section {
          margin-right: 0;
        }
      }
    }
  }
}

#options {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scrollbar-width: none;

  .options-contain {
    width: 100%;
    font-size: calc(0.65rem + 0.05vw);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    gap: 2px;

    .link {
      text-decoration: none;
      color: #222;
      font-weight: 600;
      transition: 0.3s;
      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }
    }

    .options-inner {
      display: flex;
      gap: 20px;
      align-items: end;
      width: max-content;

      &.color {
        align-items: center;
      }
    }

    .annotation {
      font-size: smaller;
      margin-top: 2px;

      span {
        letter-spacing: 0.3px;
        font-weight: 600;
      }
    }
  }

  .mantine-Switch-label {
    font-weight: 500;
  }

  .mantine-Switch-body {
    padding: 0 0 6px;
    flex-direction: column;
    gap: 8px;
  }

  .mantine-Select-root {
    display: block;
    align-items: center;
    gap: 10px;
  }

  .mantine-Select-input {
    width: 110px;
  }
}

.mantine-Switch-label,
.mantine-Select-label,
.mantine-Select-input,
.mantine-Select-option span,
.mantine-Button-label {
  font-size: calc(0.65rem + 0.05vw) !important;
  transition: 0.3s;
}

.mantine-Switch-track {
  width: fit-content;
}

h1 {
  margin: 0 0 6px;
  font-size: calc(1rem + 0.8vw);
  line-height: calc(1.8rem + 0.4vw);
  font-family: "PT Serif";
  font-style: italic;
  font-weight: 700;
  letter-spacing: 0.4px;
}

// LEGEND
#legend-outer {
  width: 100%;
  // border: 1px solid #eee;
  // padding: 0.25rem 0.5rem;
  margin-bottom: 0.5rem;
  position: relative;

  &.sidebar {
    margin-bottom: 0;

    #buttons {
      border-top: 1px solid #eee;
    }

    #character-legend {
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
      max-height: 250px;
      overflow-y: auto;
      scrollbar-width: none;
    }

    #buttons {
      display: flex;
      justify-content: space-between;

      .reset-button {
        position: relative;

        svg {
          width: 0.6rem !important;
          height: 0.6rem !important;
        }
      }
    }
  }

  #character-legend {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-auto-flow: dense;
    font-size: xx-small;
    transition: 0.3s;
    gap: 0.5rem;

    &.hidden {
      visibility: hidden;
      pointer-events: none;
      opacity: 0;
      height: 0;
    }

    .group-container {
      border: 1px solid #eee;
      vertical-align: top;
      padding: 0.25rem 0.5rem;
      // height: max-content;
      position: relative;
      border-radius: 0.2rem;
      transition: 0.3s;

      &.faded {
        opacity: 0.3;
      }

      &.light-faded {
        opacity: 0.7;
      }

      .group-header {
        width: calc(100% + 1rem);
        margin-left: -0.5rem;
        margin-top: -0.25rem;
        margin-bottom: 0.25rem;
        padding: 0.1rem 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 0.5rem;
        transition: 0.3s;

        &.no-margin {
          margin-bottom: -0.25rem;
        }

        .expand-button {
          margin-right: 0.4rem;
          font-weight: 800;
          transition: 0.3s;

          svg {
            margin-bottom: -0.5px;
            width: 0.5rem !important;
            height: 0.5rem !important;
          }
        }

        span,
        b {
          cursor: pointer;
          transition: 0.3s;

          &:hover {
            opacity: 0.7;
          }

          &.faded {
            opacity: 0.3;
            pointer-events: none;
          }

          &.divider {
            margin: 0 0.2rem;
          }
        }

        b {
          font-weight: 600;
        }
      }

      .group-contain-inner {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        align-items: start;
        transition: 0.3s;

        &.hidden {
          visibility: hidden;
          pointer-events: none;
          opacity: 0;
          height: 0;
        }
      }
    }

    .legend-item {
      cursor: pointer;
      transition: 0.3s;
      display: flex;
      align-items: center;
      gap: 5px;
      // padding: 0.1rem 0.5rem 0.1rem 0.25rem;

      &:hover {
        opacity: 0.7;
      }
      &.faded:hover {
        opacity: 0.5;
      }
      &.no-click {
        pointer-events: none;
      }

      .legend-square {
        width: 0.5rem;
        height: 0.5rem;
        stroke-width: 1;
      }

      &.faded {
        opacity: 0.3;
      }
    }
  }

  .compact-button {
    height: 1.5rem;
    .mantine-Button-label {
      font-size: 10px !important;
    }
  }

  .reset-button {
    position: absolute;
    right: 0;
    bottom: calc(100% - 4px);
    padding: 0;
    transition: 0.3s;
    background: transparent !important;

    svg {
      transition: 0.3s;
    }

    &.show-button {
      left: 0;
      right: unset;

      &.rotate {
        svg {
          transform: rotate(180deg);
        }
      }
    }

    &:hover {
      opacity: 0.7;
    }

    &:disabled {
      pointer-events: none;
    }

    &.hidden {
      visibility: hidden;
      pointer-events: none;
      opacity: 0;
    }

    span {
      font-size: xx-small !important;
    }
  }
}

// Color grid
#colorgrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(0.75rem, 1fr));
  max-width: 300px;
  transition: 0.3s;

  &.full-width {
    margin-top: 0.5rem;
    max-width: 372px;
  }

  &.large {
    max-width: 500px;
  }

  &.hidden {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    width: 0;
    height: 0;
  }

  .colorgrid-square {
    width: 0.75rem;
    height: 0.75rem;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
    &.faded:hover {
      opacity: 0.5;
    }
    &.no-click {
      pointer-events: none;
    }

    &.faded {
      opacity: 0.3;
    }
  }
}

// Character info
#character-info {
  border: 1px solid #eee;
  position: fixed;
  margin-top: 1rem;
  z-index: 999;
  right: 0;
  background: rgb(255, 255, 255, 0.9);
  transition: 0.3s;
  width: 500px;

  .hidden,
  &.hidden {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
  }

  p {
    margin: 0;
  }

  b,
  p {
    transition: 0.3s;
  }

  .character-inner {
    padding: 0.5rem 0.75rem;
    font-size: x-small;
    transition: 0.3s;

    &.grid {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 0.75rem;
      align-items: center;

      p {
        margin-top: 2px;
      }
    }

    &.explanation {
      transition: 0.3s;
      font-style: italic;

      &.hidden {
        padding: 0;
        height: 0;
      }
    }
  }

  .character-image {
    border-radius: 100%;
    transition: 0.3s;
    width: 2.5rem;
  }
}

#location-overlay {
  position: fixed;
  margin-top: 1rem;
  left: calc(160px + 2rem);
  padding: 0.5rem 0.75rem;
  width: 500px;
  font-size: x-small;
  z-index: 999;
  background: rgb(255, 255, 255, 0.9);
  border: 1px solid #eee;
  transition: 0.3s;

  &.hidden {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
  }

  p {
    margin-bottom: 0;
    margin-top: 2px;
  }
}

#scene-overlay {
  position: fixed;
  padding: 0.5rem 0;
  width: 670px;
  font-size: x-small;
  z-index: 800;
  background: rgb(255, 255, 255, 0.9);
  border: 1px solid #eee;
  // box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;

  &.show-msg {
    &::before {
      content: "Click to lock!";
      font-style: italic;
      margin-bottom: 0.5rem;
      position: absolute;
      top: -1.25rem;
      transition: 0.3s;
    }
    &.verbose-on::before {
      content: "Click to turn off verbose mode!";
    }
    &.verbose-off::before {
      content: "Click to turn on verbose mode!";
    }
  }

  &.wide {
    width: 750px;
  }

  &.extra-wide {
    width: 850px;
  }

  &.hidden {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    border-color: transparent;
    background: transparent;
  }

  #scene-ratings {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
    transition: 0.3s;
    margin-top: 0.25rem;
  }

  .rating-outer {
    .rating-colorbar {
      display: flex;
      column-gap: 0.25rem;
      align-items: center;

      span {
        font-size: 7.5px;
      }

      &.mini {
        .bar {
          width: 80px;
          height: 0.25rem;

          .tip {
            width: 0.2rem;
            height: 0.55rem;
          }

          .rating {
            opacity: 0.7;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: -0.75rem;
          }
        }
      }

      .bar {
        height: 0.3rem;
        width: 100%;
        position: relative;
        background: linear-gradient(
          to right,
          #fdd0a2,
          #fd9e54,
          #f16913,
          #c03f02,
          #7f2704
        );

        .tip {
          width: 0.25rem;
          height: 0.65rem;
          background: black;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          transition: 0.3s;
        }

        &.importance {
          background: linear-gradient(
            to right,
            rgb(218, 218, 235),
            rgb(173, 172, 210),
            rgb(128, 125, 186),
            rgb(95, 60, 153),
            rgb(63, 0, 125)
          );
        }

        &.conflict {
          background: linear-gradient(
            to right,
            rgb(199, 233, 192),
            rgb(139, 207, 137),
            rgb(65, 171, 93),
            rgb(18, 124, 57),
            rgb(0, 68, 27)
          );
        }

        &.sentiment {
          background: linear-gradient(
            to right,
            rgb(8, 48, 107),
            rgb(120, 180, 216),
            rgb(221, 221, 221),
            rgb(249, 113, 84),
            rgb(103, 0, 13)
          );
        }

        &.numChars {
          background: linear-gradient(
            to right,
            rgb(198, 219, 239),
            rgb(132.5, 188, 219.5),
            rgb(66, 146, 198),
            rgb(20.5, 97, 168.5),
            rgb(8, 48, 107)
          );
        }
      }
    }

    .rating-box {
      text-align: center;
      font-size: smaller;
      padding: 0 1rem 0.25rem;

      b {
        font-weight: 500;
      }
    }
  }

  #scene-info {
    padding-bottom: 0.5rem;
    margin: 0 0.75rem;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
    border-bottom: 1px solid #eee;

    &.transparent {
      border-color: transparent;
      row-gap: 0;
      padding-bottom: 0;
    }

    p {
      margin: 0;
    }
  }

  #scene-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    font-size: 11px;

    &.split {
      display: grid;
      grid-template-columns: 3fr 1fr;
      column-gap: 2rem;
    }

    .key-text,
    .quote-key {
      font-size: smaller;
      opacity: 0.7;
    }

    .quote-key {
      text-align: end;
      width: max-content;
      opacity: 1;

      .lighter {
        opacity: 0.7;
      }
    }

    .character-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
    }
  }

  #scene-characters {
    transition: 0.3s;
    margin: 0rem 0.75rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;

    #scene-char-inner {
      transition: 0.3s;

      &.split {
        display: grid;
        grid-template-columns: 3fr 1fr;
        column-gap: 2rem;
      }

      &.two-col {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;

        &.three-col {
          grid-template-columns: 1fr 1fr 1fr;
        }

        .char-header {
          align-items: baseline;

          .emotion-box {
            align-items: baseline;
          }
        }
      }

      .character-info:not(:last-child) {
        margin-bottom: 0.4rem;
      }
    }

    .char-header {
      b {
        font-weight: 500;

        &.char-name {
          font-family: "Shantell Sans";
          font-size: 10.5px;
          display: flex;
          align-items: baseline;
        }
      }

      .char-meta {
        transition: 0.3s;
        &.hidden {
          visibility: hidden;
          opacity: 0 !important;
          height: 0;
        }
      }

      .square {
        width: 0.5rem;
        height: 0.5rem;
        margin-right: 5px;
        display: inline-block;
      }

      .emotion-box {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        margin-top: 0.1rem;
        margin-left: 0.75rem;
        font-size: 9.8px;
        justify-content: space-between;

        .emotion-color {
          text-align: center;
          font-size: 8px;
          padding: 0 0.4rem;
        }
      }
    }

    .char-quote {
      font-size: 9.5px;
      margin-left: 0.75rem;
      margin-top: 0.05rem;

      &.fake {
        font-style: italic;
        opacity: 0.7;
      }
    }

    .char-importance {
      font-size: 9px;
      margin-left: 0.75rem;
      margin-top: 0.25rem;
      background: #eee;
      padding: 0.25rem 0.4rem;
      transition: 0.3s;

      b {
        font-weight: 500;
      }

      &.hidden {
        visibility: hidden;
        pointer-events: none;
        opacity: 0;
        padding: 0;
        height: 0;
        margin: 0;
      }
    }
  }

  .text-header {
    margin: 0 0.75rem;
    display: flex;
    justify-content: space-between;

    .scene-toggle-buttons {
      button {
        height: 1.5rem;

        &:not(.active) {
          background: #eee !important;
          color: rgb(0, 0, 0, 0.25);
        }

        &.active {
          pointer-events: none;
        }
      }

      span {
        font-size: 10px !important;
      }
    }

    .scene-select {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      transition: 0.3s;

      &.hidden,
      .hidden {
        visibility: hidden;
        pointer-events: none;
        opacity: 0;
        display: none;
      }

      b {
        font-weight: 500;
      }

      .mantine-Select-wrapper,
      input {
        height: 1.5rem;
        min-height: 1.5rem;
        font-size: 10px !important;
      }
    }
  }

  #chapter-text {
    transition: 0.3s;
    width: max-content;
    max-height: calc(317.05px + 0.25rem);
    overflow-y: auto;
    scrollbar-width: none;
    position: relative;

    .scene-text-group {
      position: relative;
      display: grid;
      grid-template-columns: auto 200px;
      gap: 0.5rem;

      &:not(:last-child) {
        margin-bottom: 0.25rem;
      }

      .scene-text {
        transition: 0.3s;
        border-right: 5px solid transparent; /* Make the border color transparent */
        border-image: linear-gradient(
          to bottom,
          #eee 75%,
          white
        ); /* Add the gradient as a border image */
        border-image-slice: 1; /* Ensure the entire gradient is used */
        padding-right: 0.5rem;

        &.filler {
          border-image: none;
        }
      }

      .scene-info {
        position: relative;
        transition: 0.3s;

        &.filler {
          opacity: 0;
          visibility: hidden;
          pointer-events: none;
          height: 0;
        }

        .scene-name {
          transition: 0.3s;
          cursor: pointer;

          &:hover {
            opacity: 0.7;
          }
        }

        .loc {
          font-family: "Shantell Sans";
          transition: 0.3s;
          cursor: pointer;
          width: max-content;

          &:hover {
            opacity: 0.7;
          }
        }

        .character {
          display: flex;
          align-items: center;
          gap: 0.4rem;
          font-size: smaller;
          transition: 0.3s;
          cursor: pointer;
          width: max-content;

          &:hover {
            opacity: 0.7;
          }

          &:not(:last-child) {
            margin-bottom: 0.1rem;
          }

          .square {
            width: 0.4rem;
            height: 0.4rem;
            display: inline-block;
          }
        }
      }

      b {
        transition: 0.3s;
      }
    }

    p {
      margin-top: 0;

      &.text {
        display: grid;
        grid-template-columns: 1rem 1fr;
        align-items: center;
        gap: 0.75rem;
      }

      &:not(:last-child) {
        margin-bottom: 0.25rem;
      }

      &:last-child {
        margin-bottom: 0;
      }

      .line-num {
        font-size: 6px;
        opacity: 0.5;
        font-weight: 500;
        text-align: right;
      }
    }
  }

  .loc-label {
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }
}

#story-contain {
  width: 100%;
  max-width: 1900px;
  overflow-x: auto;
  display: block;
  position: relative;
  margin: 0 auto 40px;
  scrollbar-width: none;
  position: relative;
  // transition: 0.3s;
  // hide scrollbar

  &.loading {
    opacity: 0.3;
    pointer-events: none;
  }

  #y-axis-div {
    position: fixed;
    left: 0;
    padding-left: 1rem;
    padding-right: 0.5rem;
    width: 160px;
    margin-top: -0.2rem;
    font-size: x-small;
    background: white;
    scrollbar-width: none;
    overflow-y: auto;

    p {
      margin: 0;
    }

    #character-axis {
      padding-top: 6px;
    }

    .location-box,
    .character-name {
      display: flex;
      align-items: center;
      justify-content: end;
      text-align: right;
      transition: 0.3s;
      cursor: pointer;

      &.faded {
        opacity: 0.1;
      }

      &:hover {
        opacity: 0.7;
      }
      &.faded:hover {
        opacity: 0.3;
      }
      &.no-click {
        pointer-events: none;
      }
    }

    .character-name {
      align-items: baseline;
      border-right: 4px solid #eee;
      padding-right: 0.5rem;
    }

    #color-axis-outer {
      height: 100%;
      position: relative;

      p {
        position: absolute;
        transform: rotate(-90deg) translateY(-100%) translateX(50%);
        top: 50%;
        margin-top: 1rem;
      }

      #color-axis {
        transition: 0.3s;
        height: 100%;
        margin-left: 1.5rem;
        width: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 0.25rem 0;
        background: linear-gradient(
          to top,
          rgb(218, 218, 235),
          rgb(173, 172, 210),
          rgb(128, 125, 186),
          rgb(95, 60, 153),
          rgb(63, 0, 125)
        );

        &.hidden {
          visibility: hidden;
          pointer-events: none;
          opacity: 0;
          // width: 0 !important;
          padding: 0;
          margin: 0 !important;
        }

        &.sentiment {
          background: linear-gradient(
            to top,
            rgb(8, 48, 107),
            rgb(120, 180, 216),
            rgb(221, 221, 221),
            rgb(249, 113, 84),
            rgb(103, 0, 13)
          );
        }

        &.numChars {
          background: linear-gradient(
            to bottom,
            rgb(198, 219, 239),
            rgb(132.5, 188, 219.5),
            rgb(66, 146, 198),
            rgb(20.5, 97, 168.5),
            rgb(8, 48, 107)
          );
        }

        &.custom {
          background: linear-gradient(to top, #ddd, #aaa, #777, #444, #111);
        }

        span {
          color: white;
          &:last-child {
            transform: translateY(-100%);
          }
        }
      }
    }
  }

  #x-axis-outer {
    position: fixed;
    overflow-x: auto;
    left: 1rem;
    width: calc(100% - 2rem);
    background: white;
    scrollbar-width: none;

    &.extra-left::before {
      width: var(--extra-left-width, 1rem);
    }

    &::before {
      content: "";
      position: fixed;
      height: 100%;
      left: 0;
      width: 1rem;
      background: white;
    }
  }

  #x-axis-div {
    position: fixed;
    background: white;
    left: 0;
    bottom: 80px;
    margin-left: 1rem;
    margin-right: 1rem;
    z-index: 999;
    font-size: x-small;
    scrollbar-width: none;
    overflow-x: auto;
    overflow-y: hidden;
    height: 140px;

    #x-axis-inner {
      border-top: 2px solid black;
      width: max-content;
      position: relative;
      padding-right: 0.5rem;
      // add small arrow head to the right of x-axis

      &:not(.hide-arrow) {
        padding-right: 1rem;
        padding-top: 0.5rem;

        &::after {
          content: "";
          position: absolute;
          right: -0.5rem; /* Adjust the distance to the right of the x-axis */
          top: -0.01rem; /* Align vertically with the x-axis */
          transform: translateY(-50%); /* Center the arrow vertically */
          border-left: 8px solid black; /* Arrow point */
          border-top: 5px solid transparent; /* Arrow top side */
          border-bottom: 5px solid transparent; /* Arrow bottom side */
        }
      }
    }

    .x-axis-scene {
      display: inline-flex;
      align-items: end;
      text-align: right;
      width: 140px;
      position: relative;
      line-height: 1rem;

      p {
        transform: translateX(-100%) rotate(-45deg) translateY(100%);
        transform-origin: 100% 100%;
        position: absolute;
      }
    }
  }

  #story {
    font-size: calc(0.8rem + 0.1vw);
    transform-origin: 0 0;

    // .frozen {
    //   pointer-events: none;
    // }

    .faded {
      &.legend-item {
        opacity: 0.3;
      }

      .location-img {
        opacity: 0.1;
      }

      &.character-square,
      .character-square {
        stroke-opacity: 0.1;
        fill-opacity: 0.1;
      }

      &.path-group,
      .path-group {
        stroke-opacity: 0.05;
        fill-opacity: 0.1;
      }

      &.dashed-lines {
        stroke-opacity: 0;
      }
    }

    .character-path.faded,
    .char-name-label.faded {
      .character-name {
        fill-opacity: 0.1;
        stroke-opacity: 0.1;
      }
    }

    .location-name,
    .scene-name {
      font-weight: 500;
      transition: 0.3s;
    }

    .chapterline {
      transition: 0.3s;
    }

    .chapterline.hidden,
    .dashed-lines.hidden {
      stroke-opacity: 0;
    }

    .scene-name.faded .scene-name-text,
    .location-group.faded .location-name,
    .chapter-line-group.faded .chapter-label {
      fill-opacity: 0.1;
    }

    .chapter-line-group.faded .chapter-line,
    .chapterline.faded {
      stroke-opacity: 0.1;
    }

    .chapter-line-group.hidden,
    .chapterline.hidden {
      pointer-events: none;
      visibility: hidden;

      .chapter-label {
        fill-opacity: 0;
      }
      .chapter-line {
        stroke-opacity: 0;
      }
    }

    .scene-name-text,
    .location-img,
    #time-arrow,
    #y-arrow,
    .chapter-label,
    .chapter-line {
      transition: 0.3s;
    }

    .character-name,
    .time-label,
    .conflict-label,
    .quote-text:not(.scene),
    #legend,
    .scene-rating,
    .color-legend {
      font-size: calc(0.7rem + 0.05vw);
    }

    .time-label {
      transition: 0.3s;
      &.hide {
        fill-opacity: 0;
      }
    }

    .bold {
      font-weight: 600;
    }

    .italic {
      font-style: italic;
    }

    .emphasis {
      font-weight: 500;
    }

    .scene-box {
      transition: 0.3s;
      &:hover,
      &.highlight,
      &.frozen {
        stroke-opacity: 1;
      }
    }

    .scene-box-fill {
      transition: 0.3s;
      &.highlight {
        fill-opacity: 0.7;
      }
    }

    .legend-item {
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        fill-opacity: 0.7;
        stroke-opacity: 0.7;
      }
      &.faded:hover {
        fill-opacity: 0.5;
        stroke-opacity: 0.5;
      }
      &.no-click {
        pointer-events: none;
      }
    }

    .character-path {
      transition: 0.3s;

      &.hidden {
        .path-group,
        .character-square {
          stroke-opacity: 0;
          fill-opacity: 0;
        }

        .char-name-label {
          .character-name {
            fill-opacity: 0;
            stroke-opacity: 0;
          }
        }
      }

      .path-group,
      .dashed-lines,
      .location-group,
      .character-name,
      .character-square,
      .char-name-label {
        transition: 0.3s;
      }
    }

    .location-group,
    .quote-box,
    .color-legend,
    .white-overlay,
    #y-arrow {
      transition: 0.3s;
    }

    .quote-box {
      pointer-events: none;
      visibility: hidden;

      .character-image {
        opacity: 0;
        transition: 0.3s;
      }

      &.highlight {
        stroke-opacity: 1;
        fill-opacity: 1;
        visibility: visible;

        .character-image {
          opacity: 1;
        }
      }
    }

    .quote-box.character {
      &.highlight {
        stroke-opacity: 0.3;
      }
    }

    .scene-info-box {
      transition: 0.3s;
      pointer-events: none;
      visibility: hidden;

      &.highlight {
        stroke-opacity: 1;
        fill-opacity: 1;
        visibility: visible;
      }
    }

    .color-legend {
      &.highlight {
        opacity: 1;
      }
    }

    #conflict-curve {
      transition: 0.3s;

      .conflict-rect {
        transition: 0.3s;
      }

      &.highlight,
      .highlight {
        fill-opacity: 1;
      }

      &.faded,
      .faded {
        fill-opacity: 0.1;
      }

      .hide {
        fill-opacity: 0;
      }
    }

    #y-arrow {
      visibility: hidden;

      &.highlight {
        fill-opacity: 1;
        stroke-opacity: 1;
        visibility: visible;
      }
    }

    .color-quote {
      font-style: italic;
    }
  }
}

@media (max-width: 1880px) {
  header {
    #options {
      .mantine-Select-input {
        width: 110px;
      }
    }
  }
}

@media (max-width: 1300px) {
  header {
    align-items: baseline;
    display: block;

    #story-header {
      gap: 10px;

      h1 {
        margin-bottom: 0;
      }

      .story-image {
        height: 35px;
      }

      #story-info {
        width: 100%;
        margin-bottom: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
    #options {
      .mantine-Select-input {
        width: 110px;
      }
    }
  }
}

@media (max-width: 1200px) {
  header {
    #options {
      .mantine-Select-input {
        width: 95px;
      }
    }
  }

  #story-contain {
    #story {
      font-size: 14px;
      .character-name,
      .time-label,
      .conflict-label,
      .quote-text:not(.scene),
      #legend,
      .scene-rating,
      .color-legend {
        font-size: 12px;
      }
    }
  }

  .options-contain,
  .mantine-Switch-label,
  .mantine-Select-label,
  .mantine-Select-input,
  .mantine-Select-option span,
  .mantine-Button-label {
    font-size: 10.5px !important;
  }
}

// CHAPTER SIDEBAR
#chapter-sidebar {
  position: fixed;
  right: 1rem;
  width: 670px;
  transition: 0.3s;
  z-index: 99;
  height: fit-content;

  &.hidden {
    width: 0;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
  }

  .close {
    position: absolute;
    font-weight: 400;
    top: -1.25rem;
    height: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;

    span {
      font-size: x-small !important;
    }
  }

  button:not(.reset):not(.ask-llm) {
    transition: 0.3s !important;
    background: transparent !important;
    outline: transparent !important;

    &:hover {
      opacity: 0.7;
    }
  }

  .reset {
    transform: scale(0.85);
    transform-origin: left bottom;
  }

  .ask-llm {
    margin-top: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    span {
      font-size: 9px !important;

      &.mantine-Button-section {
        margin-right: 0.3rem !important;
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-bottom: 0.5rem;
    gap: 0.5rem;
    background: #eee;
    border: 1px solid #eee;
    border-radius: 0.3rem 0.3rem 0 0;
    height: 1.6rem;
    // box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  }

  #scene-overlay {
    border-radius: 0 0 0.3rem 0.3rem;
  }
}

#click-msg,
#legend-hover-msg,
#network-hover-msg {
  position: fixed;
  font-size: x-small;
  z-index: 800;
  transition: 0.3s;
  font-style: italic;

  &.hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

#legend-hover-msg,
#network-hover-msg {
  background: rgb(255, 255, 255, 0.95);
  border-radius: 0.1rem;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  padding: 0.25rem 0.6rem;
  z-index: 1000 !important;
}

#network-hover-msg {
  font-style: normal;
  max-width: 360px;

  b {
    font-weight: 600;
  }

  p {
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 0.15rem;
    }

    &.desc {
      font-style: italic;
      opacity: 0.7;
      font-size: 10px;
    }
  }
}

// CHAPTER SLIDER
#slider-contain {
  background: white;
  position: fixed;
  bottom: 0;
  padding: 0.5rem 1rem 0.5rem 0;
  width: calc(100% - 1rem);
  transition: 0.3s;

  &.hidden {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    padding: 0;
    width: 0;
    height: 0;
  }

  .mantine-Slider-label {
    font-size: smaller;
    font-weight: 600;
  }

  .mantine-Switch-root {
    transition: 0.3s;
    &.hidden {
      visibility: hidden;
      pointer-events: none;
      opacity: 0;
    }
  }

  #options.slider {
    display: grid;
    // grid-template-columns: 1fr auto auto;
    grid-template-columns: 1fr;
    transition: 0.3s;

    .options-contain {
      width: 100%;

      .options-inner.slider {
        display: grid;
        grid-template-columns: auto 1fr;
        width: 100%;

        label {
          width: max-content;
        }
      }
    }
  }
}

#color-bars {
  font-size: x-small;
  display: flex;
  column-gap: 3rem;
  row-gap: 0.5rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  transition: 0.3s;

  &.hidden {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    width: 0;
    height: 0;
    margin-left: -20px;
  }

  .color-bar {
    margin-top: 0.5rem;
    &.full-width {
      .inner-bar {
        .gradient {
          width: 240px;
        }
      }
    }

    .inner-bar {
      display: flex;
      align-items: center;
      gap: 0.75rem;

      p {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        span {
          font-size: smaller;
          opacity: 0.5;
          position: absolute;
          top: 100%;
        }
      }

      .gradient {
        width: 200px;
        height: 0.6rem;
        background: linear-gradient(
          to right,
          #fdd0a2,
          #fd9e54,
          #f16913,
          #c03f02,
          #7f2704
        );

        &.importance {
          background: linear-gradient(
            to right,
            rgb(218, 218, 235),
            rgb(173, 172, 210),
            rgb(128, 125, 186),
            rgb(95, 60, 153),
            rgb(63, 0, 125)
          );
        }

        &.conflict {
          background: linear-gradient(
            to right,
            rgb(199, 233, 192),
            rgb(139, 207, 137),
            rgb(65, 171, 93),
            rgb(18, 124, 57),
            rgb(0, 68, 27)
          );
        }

        &.sentiment {
          background: linear-gradient(
            to right,
            rgb(8, 48, 107),
            rgb(120, 180, 216),
            rgb(221, 221, 221),
            rgb(249, 113, 84),
            rgb(103, 0, 13)
          );
        }

        &.numChars {
          background: linear-gradient(
            to right,
            rgb(198, 219, 239),
            rgb(132.5, 188, 219.5),
            rgb(66, 146, 198),
            rgb(20.5, 97, 168.5),
            rgb(8, 48, 107)
          );
        }
      }
    }

    .main-label {
      display: block;
      text-align: center;
    }
  }
}

#slider-outer {
  position: relative;
  transition: 0.3s;

  &.hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    height: 0;
    width: 0;
  }

  .find-chapter {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 100%;
  }
}

#chapter-slider {
  position: relative;
  display: flex;
  align-items: center;
  font-size: x-small;
  gap: 1rem;
  transition: 0.3s;

  &.hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    height: 0;
    width: 0;
  }

  .label {
    position: absolute;
    bottom: 100%;
    margin-bottom: -1px;
    font-size: 11.5px;
    font-weight: 500;
  }

  .mantine-Slider-root {
    width: 100%;
    min-width: 200px;
  }

  button {
    min-width: 70px;
    margin-left: 0.5rem;
  }
}

// Y-AXIS
.y-axis-label {
  transition: 0.3s;
  font-size: smaller;
}

// SIDEBAR
.mantine-Drawer-inner {
  z-index: 999 !important;
}
.mantine-Drawer-content {
  font-size: 11.8px;
  background: rgba(255, 255, 255, 0.95) !important;
  overflow-x: hidden;
  position: relative;

  header {
    background: rgba(255, 255, 255, 0.95) !important;
    margin-bottom: 0;
  }

  h2 {
    font-size: 0.85rem;
    font-weight: 600;
    // font-family: "Shantell Sans";
  }

  .mantine-CloseButton-root {
    transition: 0.3s;
    &:active,
    &:hover {
      background: black !important;
      color: white;
    }
  }

  svg {
    width: 1rem !important;
    height: 1rem !important;
  }
}

.mantine-Accordion-control {
  span {
    font-size: 12px;
    font-weight: bold !important;
  }
}

.mantine-Accordion-content {
  padding-top: 0 !important;
}

.mantine-Overlay-root:not(.mantine-Modal-overlay) {
  display: none;
}

.delete-button {
  cursor: pointer;
  transition: 0.3s;
  position: absolute;
  left: calc(50% - 1rem);
  transform: translateX(calc(-50% - 0.5rem));
  font-family: "Shantell Sans";
  font-weight: 500;
  margin-top: 0.15rem;
  font-size: smaller;
  letter-spacing: 0.25px;

  &.y-axis {
    left: unset;
    right: 0;
    transform: unset;
  }

  &:hover {
    opacity: 0.7;
  }

  &.disabled {
    opacity: 0;
    pointer-events: none;
  }
}

.sidebar-settings {
  font-size: 11px;
  .annotation {
    display: block;
    margin-bottom: 0.5rem;
  }
  .two-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    align-items: center;
  }
  .margin-bottom {
    margin-bottom: 0.5rem;
  }
  .margin-top {
    margin-top: 0.75rem;
  }
}

// MODAL

.mantine-Modal-overlay {
  z-index: 999 !important;
}

.mantine-Modal-inner {
  z-index: 1000 !important;
}

.mantine-Modal-header {
  margin-bottom: 0;

  h2 {
    font-size: 0.85rem;
    font-weight: 600;
  }

  svg {
    width: 1rem !important;
    height: 1rem !important;
  }
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

#prompt-modal-body,
#about-modal-body {
  span {
    transition: 0.3s;
    &.loading {
      animation: loading 2s infinite;
    }
  }

  p {
    margin-top: 0;
    font-size: smaller;

    i {
      opacity: 0.7;
      font-weight: 500;
    }

    .emph {
      font-family: "Shantell Sans";
    }

    b:not(.grad) {
      font-weight: 600;
    }
  }
}

/* Access form removed: authentication disabled */

// SPINNER
#spinner {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s;

  &.hidden {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
  }
}

// MANTINE DROPDOWN
.mantine-Popover-dropdown,
.mantine-Select-dropdown {
  z-index: 999 !important;
}

.info-tooltip {
  z-index: 1000 !important;

  svg {
    width: 0.7rem !important;
    height: 0.7rem !important;
  }

  &.smaller {
    svg {
      width: 0.6rem !important;
      height: 0.6rem !important;
    }
  }
}

div.info-tooltip {
  padding-top: 0.15rem !important;
}

.disclaimer {
  background-color: #eee;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;

  b {
    font-size: smaller;
  }

  a {
    color: #444;
    transition: 0.3s;

    &:hover {
      opacity: 0.7;
    }
  }
}

// MANTINE POPOVER
.mantine-Popover-dropdown {
  z-index: 999 !important;
  padding: 0.5rem 0.75rem !important;

  .ask-llm-textarea {
    textarea {
      font-size: x-small;
    }
  }

  .find-chapter-textarea {
    textarea {
      font-size: 11px;
    }
  }

  button {
    margin-top: 0.25rem;

    &.find-chapter-button {
      transition: 0.3s;
      span {
        font-size: 10px !important;
      }

      &.hidden {
        visibility: hidden;
        pointer-events: none;
        opacity: 0;
        padding: 0 !important;
        height: 0;
        margin: 0 !important;
      }
    }

    span {
      transition: 0.3s;
      font-size: 9px !important;

      &.loading {
        animation: loading 2s infinite;
      }
    }
  }

  .ask-llm-answer,
  .find-chapter-answer {
    transition: 0.3s;

    &.hidden {
      visibility: hidden;
      pointer-events: none;
      opacity: 0;
      padding: 0 !important;
      height: 0;
      margin: 0 !important;
    }
  }
}
