#root {
  max-width: 1900px;
  width: 100%;
  margin: 0 auto;
}

#app {
  padding: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  gap: 20px;

  #options {
    display: flex;
    // align-items: center;
    gap: 20px;

    .options-contain {
      font-size: calc(0.65rem + 0.05vw);
      transition: 0.3s;
      display: flex;
      flex-direction: column;
      gap: 2px;

      .options-inner {
        display: flex;
        gap: 20px;
        align-items: center;
      }
    }

    .mantine-Switch-label {
      font-weight: 500;
    }

    .mantine-Switch-body {
      padding: 6px 0;
    }

    .mantine-Select-root {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .mantine-Select-input {
      width: 110px;
    }
  }
}

.mantine-Switch-label,
.mantine-Select-label,
.mantine-Select-input,
.mantine-Select-option span {
  font-size: calc(0.65rem + 0.05vw) !important;
  transition: 0.3s;
}

h1 {
  margin: 0;
  font-size: calc(1.2rem + 0.8vw);
  font-family: "PT Serif";
  font-style: italic;
  font-weight: 700;
  // text-transform: lowercase;
  letter-spacing: 0.4px;
}
#story-contain {
  width: 100%;
  display: block;
  position: relative;

  #story {
    font-size: calc(0.8rem + 0.1vw);
    transform-origin: 0 0;

    .faded {
      &.legend-item,
      .location-img {
        opacity: 0.3;
      }

      &.character-square,
      .character-square {
        stroke-opacity: 0.3;
        fill-opacity: 0.3;
      }

      &.path-group {
        stroke-opacity: 0.3;
      }
    }

    .character-path.faded,
    .char-name-label.faded {
      .character-name {
        fill-opacity: 0.3;
        stroke-opacity: 0.3;
      }
    }

    .location-name,
    .scene-name {
      font-weight: 500;
      transition: 0.3s;
    }

    .scene-name.faded .scene-name-text,
    .location-group.faded .location-name {
      fill-opacity: 0.3;
    }

    .scene-name-text,
    .location-img {
      transition: 0.3s;
    }

    .character-name,
    .time-label,
    .conflict-label,
    .quote-text:not(.scene),
    #legend,
    .scene-rating,
    .color-legend {
      font-size: calc(0.7rem + 0.05vw);
    }

    .bold {
      font-weight: 600;
    }

    .italic {
      font-style: italic;
    }

    .emphasis {
      font-weight: 500;
    }

    .scene-box {
      transition: 0.3s;
      &:hover,
      &.highlight {
        stroke-opacity: 1;
      }
    }

    .scene-box-fill {
      transition: 0.3s;
      &.highlight {
        fill-opacity: 0.7;
      }
    }

    .legend-item {
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        opacity: 0.7;
      }
      &.faded:hover {
        opacity: 0.5;
      }
    }

    .character-path {
      transition: 0.3s;
      &.hidden {
        .path-group {
          stroke-opacity: 0;
        }

        .character-square {
          stroke-opacity: 0;
          fill-opacity: 0;
        }

        .char-name-label {
          .character-name {
            fill-opacity: 0;
            stroke-opacity: 0;
          }
        }
      }

      .path-group,
      .location-group,
      .character-name,
      .character-square,
      .char-name-label {
        transition: 0.3s;
      }
    }

    .location-group,
    .quote-box,
    .color-legend,
    .white-overlay,
    #y-arrow {
      transition: 0.3s;
    }

    .quote-box {
      pointer-events: none;
      visibility: hidden;

      .character-image {
        opacity: 0;
        transition: 0.3s;
      }

      &.highlight {
        stroke-opacity: 1;
        fill-opacity: 1;
        visibility: visible;

        .character-image {
          opacity: 1;
        }
      }
    }

    .quote-box.character {
      &.highlight {
        stroke-opacity: 0.3;
      }
    }

    .scene-info-box {
      transition: 0.3s;
      pointer-events: none;
      visibility: hidden;

      &.highlight {
        stroke-opacity: 1;
        fill-opacity: 1;
        visibility: visible;
      }
    }

    .color-legend {
      &.highlight {
        opacity: 1;
      }
    }

    #conflict-curve {
      transition: 0.3s;

      &.highlight {
        fill-opacity: 0.8;
      }

      &.faded {
        fill-opacity: 0.3;
      }
    }

    #y-arrow {
      &.highlight {
        fill-opacity: 1;
        stroke-opacity: 1;
      }
    }
  }
}

@media (max-width: 1200px) {
  #story-contain {
    #story {
      font-size: 14px;
      .character-name,
      .time-label,
      .conflict-label,
      .quote-text:not(.scene),
      #legend,
      .scene-rating,
      .color-legend {
        font-size: 12px;
      }
    }
  }

  .options-contain,
  .mantine-Switch-label,
  .mantine-Select-label,
  .mantine-Select-input,
  .mantine-Select-option span {
    font-size: 10.5px !important;
  }
}
