::-moz-selection {
  background: #ddd;
  color: #222;
}

::selection {
  background: #ddd;
  color: #222;
}

#root {
  max-width: 2100px;
  width: 100%;
  margin: 0 auto;
}

#app {
  padding: 0.5rem 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  // align-items: center;
  margin-bottom: 1.2rem;
  gap: 20px;

  #story-info {
    span {
      font-size: smaller;
      color: #222;
      display: flex;
      align-items: center;
      gap: 10px;
      font-family: "Shantell Sans";
    }

    #info-button {
      padding: 0.3rem 0.5rem;
      span {
        font-family: var(--mantine-font-family);
      }

      .mantine-Button-section {
        margin-right: 0;
      }
    }
  }

  #options {
    display: flex;
    gap: 20px;
    overflow-x: auto;

    .options-contain {
      font-size: calc(0.65rem + 0.05vw);
      transition: 0.3s;
      display: flex;
      flex-direction: column;
      gap: 2px;

      .options-inner {
        display: flex;
        gap: 20px;
        align-items: center;
      }

      .annotation {
        font-size: smaller;
        margin-top: 2px;

        span {
          letter-spacing: 0.3px;
          font-weight: 600;
        }
      }
    }

    .mantine-Switch-label {
      font-weight: 500;
    }

    .mantine-Switch-body {
      padding: 6px 0;
    }

    .mantine-Select-root {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .mantine-Select-input {
      width: 110px;
    }
  }
}

.mantine-Switch-label,
.mantine-Select-label,
.mantine-Select-input,
.mantine-Select-option span,
.mantine-Button-label {
  font-size: calc(0.65rem + 0.05vw) !important;
  transition: 0.3s;
}

.mantine-Switch-track {
  width: fit-content;
}

h1 {
  margin: 0 0 6px;
  font-size: calc(1.2rem + 0.8vw);
  line-height: calc(2rem + 0.4vw);
  font-family: "PT Serif";
  font-style: italic;
  font-weight: 700;
  // text-transform: lowercase;
  letter-spacing: 0.4px;
}
#story-contain {
  width: 100%;
  max-width: 1900px;
  display: block;
  position: relative;
  margin: 0 auto;

  #story {
    font-size: calc(0.8rem + 0.1vw);
    transform-origin: 0 0;

    .faded {
      &.legend-item {
        opacity: 0.3;
      }

      .location-img {
        opacity: 0.15;
      }

      &.character-square,
      .character-square {
        stroke-opacity: 0.15;
        fill-opacity: 0.15;
      }

      &.path-group,
      .path-group {
        stroke-opacity: 0.05;
        fill-opacity: 0.15;
      }
    }

    .character-path.faded,
    .char-name-label.faded {
      .character-name {
        fill-opacity: 0.15;
        stroke-opacity: 0.15;
      }
    }

    .location-name,
    .scene-name {
      font-weight: 500;
      transition: 0.3s;
    }

    .scene-name.faded .scene-name-text,
    .location-group.faded .location-name {
      fill-opacity: 0.15;
    }

    .scene-name-text,
    .location-img,
    #time-arrow,
    #y-arrow {
      transition: 0.3s;
    }

    .character-name,
    .time-label,
    .conflict-label,
    .quote-text:not(.scene),
    #legend,
    .scene-rating,
    .color-legend {
      font-size: calc(0.7rem + 0.05vw);
    }

    .bold {
      font-weight: 600;
    }

    .italic {
      font-style: italic;
    }

    .emphasis {
      font-weight: 500;
    }

    .scene-box {
      transition: 0.3s;
      &:hover,
      &.highlight {
        stroke-opacity: 1;
      }
    }

    .scene-box-fill {
      transition: 0.3s;
      &.highlight {
        fill-opacity: 0.7;
      }
    }

    .legend-item {
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        fill-opacity: 0.7;
        stroke-opacity: 0.7;
      }
      &.faded:hover {
        fill-opacity: 0.5;
        stroke-opacity: 0.5;
      }
    }

    .character-path {
      transition: 0.3s;

      &.hidden {
        .path-group,
        .character-square {
          stroke-opacity: 0;
          fill-opacity: 0;
        }

        .char-name-label {
          .character-name {
            fill-opacity: 0;
            stroke-opacity: 0;
          }
        }
      }

      .path-group,
      .location-group,
      .character-name,
      .character-square,
      .char-name-label {
        transition: 0.3s;
      }
    }

    .location-group,
    .quote-box,
    .color-legend,
    .white-overlay,
    #y-arrow {
      transition: 0.3s;
    }

    .quote-box {
      pointer-events: none;
      visibility: hidden;

      .character-image {
        opacity: 0;
        transition: 0.3s;
      }

      &.highlight {
        stroke-opacity: 1;
        fill-opacity: 1;
        visibility: visible;

        .character-image {
          opacity: 1;
        }
      }
    }

    .quote-box.character {
      &.highlight {
        stroke-opacity: 0.3;
      }
    }

    .scene-info-box {
      transition: 0.3s;
      pointer-events: none;
      visibility: hidden;

      &.highlight {
        stroke-opacity: 1;
        fill-opacity: 1;
        visibility: visible;
      }
    }

    .color-legend {
      &.highlight {
        opacity: 1;
      }
    }

    #conflict-curve {
      transition: 0.3s;

      &.highlight {
        fill-opacity: 0.8;
      }

      &.faded {
        fill-opacity: 0.15;
      }
    }

    #y-arrow {
      visibility: hidden;

      &.highlight {
        fill-opacity: 1;
        stroke-opacity: 1;
        visibility: visible;
      }
    }
  }
}

@media (max-width: 1960px) {
  header {
    #options {
      .options-contain {
        .options-inner {
          align-items: end !important;
        }
        .mantine-Select-root {
          display: block;
        }

        .mantine-Switch-body {
          padding-top: 0;
          flex-direction: column;
          gap: 8px;
        }
      }
    }
  }
}

@media (max-width: 1330px) {
  header {
    align-items: baseline;
    display: block;

    h1 {
      margin-bottom: 0;
    }

    #story-info {
      margin-bottom: 8px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

@media (max-width: 1200px) {
  #story-contain {
    #story {
      font-size: 14px;
      .character-name,
      .time-label,
      .conflict-label,
      .quote-text:not(.scene),
      #legend,
      .scene-rating,
      .color-legend {
        font-size: 12px;
      }
    }
  }

  .options-contain,
  .mantine-Switch-label,
  .mantine-Select-label,
  .mantine-Select-input,
  .mantine-Select-option span,
  .mantine-Button-label {
    font-size: 10.5px !important;
  }
}
