::-moz-selection {
  background: #ddd;
  color: #222;
}

::selection {
  background: #ddd;
  color: #222;
}

#root {
  max-width: 2100px;
  width: 100%;
  margin: 0 auto;
}

#app {
  padding: 0.5rem 1rem;
}

#header-container {
  position: fixed;
  z-index: 99;
  background: white;
  margin-top: -0.5rem;
  padding-top: 0.5rem;
  padding-right: 1rem;
  width: calc(100% - 1rem);
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.2rem;
  gap: 20px;

  #story-header {
    display: flex;
    gap: 20px;

    .story-image {
      transition: 0.3s;
      width: auto;
      height: 70px;
      border: 1px solid #444;
    }

    a:hover .story-image {
      opacity: 0.8;
      transform: scale(1.05);
    }

    #story-info {
      span {
        font-size: smaller;
        color: #222;
        display: flex;
        align-items: center;
        gap: 10px;
        font-family: "Shantell Sans";
      }

      #info-button {
        padding: 0.3rem 0.5rem;
        span {
          font-family: var(--mantine-font-family);
        }

        .mantine-Button-section {
          margin-right: 0;
        }
      }
    }
  }

  #options {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scrollbar-width: none;

    .options-contain {
      font-size: calc(0.65rem + 0.05vw);
      transition: 0.3s;
      display: flex;
      flex-direction: column;
      gap: 2px;

      .options-inner {
        display: flex;
        gap: 20px;
        align-items: end;
        width: max-content;
      }

      .annotation {
        font-size: smaller;
        margin-top: 2px;

        span {
          letter-spacing: 0.3px;
          font-weight: 600;
        }
      }
    }

    .mantine-Switch-label {
      font-weight: 500;
    }

    .mantine-Switch-body {
      padding: 0 0 6px;
      flex-direction: column;
      gap: 8px;
    }

    .mantine-Select-root {
      display: block;
      align-items: center;
      gap: 10px;
    }

    .mantine-Select-input {
      width: 110px;
    }
  }
}

.mantine-Switch-label,
.mantine-Select-label,
.mantine-Select-input,
.mantine-Select-option span,
.mantine-Button-label {
  font-size: calc(0.65rem + 0.05vw) !important;
  transition: 0.3s;
}

.mantine-Switch-track {
  width: fit-content;
}

h1 {
  margin: 0 0 6px;
  font-size: calc(1.2rem + 0.8vw);
  line-height: calc(2rem + 0.4vw);
  font-family: "PT Serif";
  font-style: italic;
  font-weight: 700;
  letter-spacing: 0.4px;
}

// LEGEND
#legend-outer {
  width: 100%;
  border: 1px solid #eee;
  padding: 0.25rem 0.5rem;
  margin-bottom: 0.5rem;
  position: relative;

  #character-legend {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    font-size: xx-small;
    transition: 0.3s;
    column-gap: 0.5rem;

    .legend-item {
      cursor: pointer;
      transition: 0.3s;
      display: flex;
      align-items: center;
      gap: 5px;

      &:hover {
        opacity: 0.7;
      }
      &.faded:hover {
        opacity: 0.5;
      }
      &.no-click {
        pointer-events: none;
      }

      .legend-square {
        width: 0.5rem;
        height: 0.5rem;
        stroke-width: 1;
      }

      &.faded {
        opacity: 0.3;
      }
    }
  }

  .reset-button {
    position: absolute;
    right: 0;
    bottom: calc(100% - 4px);
    padding: 0;
    transition: 0.3s;
    background: transparent !important;

    &:hover {
      opacity: 0.7;
    }

    &:disabled {
      pointer-events: none;
    }

    span {
      font-size: xx-small !important;
    }
  }
}

// Character info
#character-info {
  border: 1px solid #eee;
  position: absolute;
  margin-top: 1rem;
  z-index: 999;
  right: 0;
  background: rgb(255, 255, 255, 0.9);
  transition: 0.3s;

  .hidden,
  &.hidden {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
  }

  p {
    margin: 0;
  }

  b,
  p {
    transition: 0.3s;
  }

  .character-inner {
    padding: 0.5rem 0.75rem;
    width: 500px;
    font-size: x-small;
    transition: 0.3s;

    &.grid {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 0.75rem;
      align-items: center;

      p {
        margin-top: 2px;
      }
    }

    &.explanation {
      font-style: italic;

      &.hidden {
        padding: 0;
      }
    }
  }

  .character-image {
    border-radius: 100%;
    transition: 0.3s;
    width: 2.5rem;
  }
}

#location-overlay {
  position: absolute;
  margin-top: 1rem;
  left: calc(160px + 2rem);
  padding: 0.5rem 0.75rem;
  width: 500px;
  font-size: x-small;
  z-index: 999;
  background: rgb(255, 255, 255, 0.9);
  border: 1px solid #eee;
  transition: 0.3s;

  &.hidden {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
  }

  p {
    margin-bottom: 0;
    margin-top: 2px;
  }
}

#scene-overlay {
  position: fixed;
  padding: 0.5rem 0.75rem;
  width: 650px;
  font-size: x-small;
  z-index: 999;
  background: rgb(255, 255, 255, 0.9);
  border: 1px solid #eee;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;

  &.hidden {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    border-color: transparent;
    background: transparent;
  }

  #scene-ratings {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
    transition: 0.3s;

    .rating-box {
      text-align: center;
      padding: 0.25rem 1rem;
      background: #eee;

      b {
        font-weight: 500;
      }
    }
  }

  #scene-info {
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #eee;

    p {
      margin: 0;
    }
  }

  #scene-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    font-size: 11px;
  }

  #scene-characters {
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;

    .char-header {
      b {
        font-weight: 600;
      }

      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;

      .emotion-box {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        b {
          font-weight: 500;
        }

        .emotion-color {
          width: 40px;
          text-align: center;
          font-size: smaller;
          padding: 0.1rem 0.5rem;
        }
      }
    }
  }
}

#story-contain {
  width: 100%;
  max-width: 1900px;
  overflow-x: auto;
  display: block;
  position: relative;
  margin: 0 auto 40px;
  scrollbar-width: none;
  position: relative;
  // hide scrollbar

  #y-axis-div {
    position: fixed;
    left: 0;
    padding-left: 1rem;
    padding-right: 0.5rem;
    width: 160px;
    margin-top: -0.2rem;
    font-size: x-small;
    background: white;
    scrollbar-width: none;
    overflow-y: auto;

    p {
      margin: 0;
    }

    #character-axis {
      padding-top: 5px;
    }

    .location-box,
    .character-name {
      display: flex;
      align-items: center;
      justify-content: end;
      text-align: right;
      transition: 0.3s;
      cursor: pointer;

      &.faded {
        opacity: 0.15;
      }

      &:hover {
        opacity: 0.7;
      }
      &.faded:hover {
        opacity: 0.3;
      }
      &.no-click {
        pointer-events: none;
      }
    }

    .character-name {
      align-items: baseline;
    }

    #color-axis-outer {
      height: 100%;
      position: relative;

      p {
        position: absolute;
        transform: rotate(-90deg) translateY(-100%) translateX(50%);
        top: 50%;
        margin-top: 0.5rem;
      }

      #color-axis {
        transition: 0.3s;
        height: 100%;
        margin-left: 1.5rem;
        width: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 0.25rem 0;
        background: linear-gradient(
          to top,
          rgb(252, 251, 253),
          rgb(217, 216, 234),
          rgb(158, 155, 201),
          rgb(106, 81, 164),
          rgb(63, 0, 125)
        );

        &.hidden {
          visibility: hidden;
          pointer-events: none;
          opacity: 0;
          // width: 0 !important;
          padding: 0;
          margin: 0 !important;
        }

        &.sentiment {
          background: linear-gradient(
            to top,
            rgb(5, 48, 97),
            rgb(107, 172, 208),
            rgb(242, 239, 238),
            rgb(228, 130, 104),
            rgb(103, 0, 31)
          );
        }

        span {
          color: white;
          &:last-child {
            transform: translateY(-100%);
          }
        }
      }
    }
  }

  #x-axis-outer {
    position: fixed;
    overflow-x: auto;
    left: 1rem;
    width: calc(100% - 2rem);
    background: white;
    scrollbar-width: none;
  }

  #x-axis-div {
    position: fixed;
    background: white;
    left: 0;
    bottom: 80px;
    margin-left: 1rem;
    margin-right: 1rem;
    z-index: 999;
    font-size: x-small;
    scrollbar-width: none;
    overflow-x: auto;
    overflow-y: hidden;
    height: 140px;

    #x-axis-inner {
      border-top: 2px solid black;
      width: max-content;
      position: relative;
      padding-right: 0.5rem;
      // add small arrow head to the right of x-axis

      &:not(.hide-arrow) {
        padding-right: 1rem;
        padding-top: 0.5rem;

        &::after {
          content: "";
          position: absolute;
          right: -0.5rem; /* Adjust the distance to the right of the x-axis */
          top: -0.01rem; /* Align vertically with the x-axis */
          transform: translateY(-50%); /* Center the arrow vertically */
          border-left: 8px solid black; /* Arrow point */
          border-top: 5px solid transparent; /* Arrow top side */
          border-bottom: 5px solid transparent; /* Arrow bottom side */
        }
      }
    }

    .x-axis-scene {
      display: inline-flex;
      align-items: end;
      text-align: right;
      width: 140px;
      position: relative;
      line-height: 1rem;

      p {
        transform: translateX(-100%) rotate(-45deg) translateY(100%);
        transform-origin: 100% 100%;
        position: absolute;
      }
    }
  }

  #story {
    font-size: calc(0.8rem + 0.1vw);
    transform-origin: 0 0;

    .faded {
      &.legend-item {
        opacity: 0.3;
      }

      .location-img {
        opacity: 0.15;
      }

      &.character-square,
      .character-square {
        stroke-opacity: 0.15;
        fill-opacity: 0.15;
      }

      &.path-group,
      .path-group {
        stroke-opacity: 0.05;
        fill-opacity: 0.15;
      }
    }

    .character-path.faded,
    .char-name-label.faded {
      .character-name {
        fill-opacity: 0.15;
        stroke-opacity: 0.15;
      }
    }

    .location-name,
    .scene-name {
      font-weight: 500;
      transition: 0.3s;
    }

    .scene-name.faded .scene-name-text,
    .location-group.faded .location-name,
    .chapter-line-group.faded .chapter-label {
      fill-opacity: 0.15;
    }

    .chapter-line-group.faded .chapter-line {
      stroke-opacity: 0.15;
    }

    .chapter-line-group.hidden {
      pointer-events: none;
      visibility: hidden;

      .chapter-label {
        fill-opacity: 0;
      }
      .chapter-line {
        stroke-opacity: 0;
      }
    }

    .scene-name-text,
    .location-img,
    #time-arrow,
    #y-arrow,
    .chapter-label,
    .chapter-line {
      transition: 0.3s;
    }

    .character-name,
    .time-label,
    .conflict-label,
    .quote-text:not(.scene),
    #legend,
    .scene-rating,
    .color-legend {
      font-size: calc(0.7rem + 0.05vw);
    }

    .bold {
      font-weight: 600;
    }

    .italic {
      font-style: italic;
    }

    .emphasis {
      font-weight: 500;
    }

    .scene-box {
      transition: 0.3s;
      &:hover,
      &.highlight {
        stroke-opacity: 1;
      }
    }

    .scene-box-fill {
      transition: 0.3s;
      &.highlight {
        fill-opacity: 0.7;
      }
    }

    .legend-item {
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        fill-opacity: 0.7;
        stroke-opacity: 0.7;
      }
      &.faded:hover {
        fill-opacity: 0.5;
        stroke-opacity: 0.5;
      }
      &.no-click {
        pointer-events: none;
      }
    }

    .character-path {
      transition: 0.3s;

      &.hidden {
        .path-group,
        .character-square {
          stroke-opacity: 0;
          fill-opacity: 0;
        }

        .char-name-label {
          .character-name {
            fill-opacity: 0;
            stroke-opacity: 0;
          }
        }
      }

      .path-group,
      .location-group,
      .character-name,
      .character-square,
      .char-name-label {
        transition: 0.3s;
      }
    }

    .location-group,
    .quote-box,
    .color-legend,
    .white-overlay,
    #y-arrow {
      transition: 0.3s;
    }

    .quote-box {
      pointer-events: none;
      visibility: hidden;

      .character-image {
        opacity: 0;
        transition: 0.3s;
      }

      &.highlight {
        stroke-opacity: 1;
        fill-opacity: 1;
        visibility: visible;

        .character-image {
          opacity: 1;
        }
      }
    }

    .quote-box.character {
      &.highlight {
        stroke-opacity: 0.3;
      }
    }

    .scene-info-box {
      transition: 0.3s;
      pointer-events: none;
      visibility: hidden;

      &.highlight {
        stroke-opacity: 1;
        fill-opacity: 1;
        visibility: visible;
      }
    }

    .color-legend {
      &.highlight {
        opacity: 1;
      }
    }

    #conflict-curve {
      transition: 0.3s;

      &.highlight {
        fill-opacity: 0.8;
      }

      &.faded {
        fill-opacity: 0.15;
      }
    }

    #y-arrow {
      visibility: hidden;

      &.highlight {
        fill-opacity: 1;
        stroke-opacity: 1;
        visibility: visible;
      }
    }

    .color-quote {
      font-style: italic;
    }
  }
}

@media (max-width: 1680px) {
  header {
    #options {
      .mantine-Select-input {
        width: 95px;
      }
    }
  }
}

@media (max-width: 1600px) {
  header {
    #options {
      .mantine-Select-input {
        width: 80px;
      }
    }
  }
}

@media (max-width: 1450px) {
  header {
    align-items: baseline;
    display: block;

    #story-header {
      gap: 10px;

      h1 {
        margin-bottom: 0;
      }

      .story-image {
        height: 35px;
      }

      #story-info {
        width: 100%;
        margin-bottom: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
    #options {
      .mantine-Select-input {
        width: 110px;
      }
    }
  }
}

@media (max-width: 1200px) {
  header {
    #options {
      .mantine-Select-input {
        width: 95px;
      }
    }
  }
  #story-contain {
    #story {
      font-size: 14px;
      .character-name,
      .time-label,
      .conflict-label,
      .quote-text:not(.scene),
      #legend,
      .scene-rating,
      .color-legend {
        font-size: 12px;
      }
    }
  }

  .options-contain,
  .mantine-Switch-label,
  .mantine-Select-label,
  .mantine-Select-input,
  .mantine-Select-option span,
  .mantine-Button-label {
    font-size: 10.5px !important;
  }
}

// CHAPTER SLIDER
#slider-contain {
  background: white;
  position: fixed;
  bottom: 0;
  padding: 0.5rem 1rem 0.5rem 0;
  width: calc(100% - 1rem);
}

#color-bars {
  font-size: x-small;
  display: flex;
  column-gap: 3rem;
  row-gap: 0.5rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  .color-bar {
    .inner-bar {
      display: flex;
      align-items: center;
      gap: 0.75rem;

      .gradient {
        width: 200px;
        height: 0.6rem;
        background: linear-gradient(
          to right,
          rgb(255, 245, 235),
          rgb(253, 206, 160),
          rgb(251, 141, 61),
          rgb(213, 75, 4),
          rgb(127, 39, 4)
        );

        &.importance {
          background: linear-gradient(
            to right,
            rgb(252, 251, 253),
            rgb(217, 216, 234),
            rgb(158, 155, 201),
            rgb(106, 81, 164),
            rgb(63, 0, 125)
          );
        }

        &.conflict {
          background: linear-gradient(
            to right,
            rgb(247, 252, 245),
            rgb(198, 232, 191),
            rgb(115, 195, 120),
            rgb(34, 139, 69),
            rgb(0, 68, 27)
          );
        }

        &.sentiment {
          background: linear-gradient(
            to right,
            rgb(5, 48, 97),
            rgb(107, 172, 208),
            rgb(242, 239, 238),
            rgb(228, 130, 104),
            rgb(103, 0, 31)
          );
        }
      }
    }

    .main-label {
      display: block;
      text-align: center;
    }
  }
}

#chapter-slider {
  display: flex;
  align-items: center;
  font-size: 12px;
  gap: 1rem;
  transition: 0.3s;

  &.hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    height: 0;
  }

  .mantine-Slider-root {
    width: 100%;
  }

  button {
    min-width: 70px;
    margin-left: 0.5rem;
  }
}

// Y-AXIS
.y-axis-label {
  transition: 0.3s;
  font-size: smaller;
}
