#root {
  max-width: 1900px;
  width: 100%;
  margin: 0 auto;
}

#app {
  padding: 1rem;
}

h1 {
  margin-bottom: 1rem;
  margin-top: 0;
  font-size: calc(1.2rem + 1.2vw);
}

#story-contain {
  width: 100%;
  display: block;
  position: relative;

  #story {
    font-size: calc(0.8rem + 0.1vw);
    transform-origin: 0 0;

    .faded {
      &.location-group,
      &.legend-item {
        opacity: 0.3;
      }

      &.character-square,
      .character-square {
        stroke-opacity: 0.3;
        fill-opacity: 0.3;
      }

      &.path-group {
        stroke-opacity: 0.3;
      }
    }

    .character-path.faded,
    .char-name-label.faded {
      .character-name {
        fill-opacity: 0.3;
      }
    }

    .location-name,
    .scene-name {
      font-weight: 500;
      transition: 0.3s;
    }

    .scene-name.faded {
      fill-opacity: 0.3;
    }

    .character-name,
    .time-label,
    .quote-text:not(.scene),
    #legend,
    .scene-rating,
    .color-legend {
      font-size: calc(0.7rem + 0.05vw);
    }

    .bold {
      font-weight: 600;
    }

    .scene-box {
      transition: 0.3s;
      &:hover,
      &.highlight {
        stroke-opacity: 1;
      }
    }

    .legend-item {
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        opacity: 0.7;
      }
      &.faded:hover {
        opacity: 0.5;
      }
    }

    .character-path {
      transition: 0.3s;
      &.hidden {
        fill-opacity: 0;
        stroke-opacity: 0;
      }

      .path-group,
      .location-group,
      .character-name,
      .character-square,
      .char-name-label {
        transition: 0.3s;
      }
    }

    .location-group,
    .quote-box,
    .color-legend {
      transition: 0.3s;
    }

    .quote-box {
      pointer-events: none;
      visibility: hidden;

      .character-image {
        opacity: 0;
        transition: 0.3s;
      }

      &.highlight {
        stroke-opacity: 1;
        fill-opacity: 1;
        visibility: visible;

        .character-image {
          opacity: 1;
        }
      }
    }

    .quote-box.character {
      &.highlight {
        stroke-opacity: 0.3;
      }
    }

    .scene-info-box {
      transition: 0.3s;
      pointer-events: none;
      visibility: hidden;

      &.highlight {
        stroke-opacity: 1;
        fill-opacity: 1;
        visibility: visible;
      }
    }

    .color-legend {
      &.highlight {
        opacity: 1;
      }
    }
  }
}

@media (max-width: 1200px) {
  #story-contain {
    #story {
      font-size: 14px;
      .character-name,
      .time-label,
      .quote-text:not(.scene),
      #legend,
      .scene-rating,
      .color-legend {
        font-size: 12px;
      }
    }
  }
}
